
.barriecito-regular {
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
}  
  
  img {
    max-width: 400px;
}

p {
    font-family: "Barriecito";
}

.buttons {
    display: inline-block;
    padding-right: 20px;
}

h1 {
    font-family: "Barriecito";
    color: whi;
}

button {
    font-family: Barriecito;
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: rgb(113, 156, 250);
    outline-style: double;
}

.displayimage {
    padding-top: 20px;
}
